* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $fontSize;
    font-family: $bodyFont;
}

.container {
    max-width: 1140px;
    margin: auto;

    @media (max-width: 1000px) {
        max-width: 80%;
        margin: auto;
    }

    @media (max-width: 1500px) {
        max-width: 90%;
        margin: auto;
    }
}