@import "var";
@import "mixins";
@import "base";
@import "global";

/*********************************************************************************************************
**********************************************************************************************************
**********************************************************************************************************
                                N A V
**********************************************************************************************************
**********************************************************************************************************
*********************************************************************************************************/



nav {
    background: $white;
    display: flex;
    flex-direction: column;
    align-items: center;


    .logo {
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        padding: 20px;
        color: $primary;
        font-weight: 900;
      
    }

    hr {
        border: 0;
        height: 1px;
        display: flex;
        width: 100%;
        background: $gray;
    }

    ul {
        list-style: none;
        display: flex;
      
        li {
            margin-left: 40px;
            padding: 10px 0 10px 0;
            a {
                text-decoration: none;
                color: $text;
                text-transform: uppercase;
                font-size: 1.2rem;
                transition: $transition;

                &:hover {
                    color: $primary;
                }
            }
        }
    }
}


/*********************************************************************************************************
**********************************************************************************************************
**********************************************************************************************************
                                        H E A D E R
**********************************************************************************************************
**********************************************************************************************************
*********************************************************************************************************/

header {
    background: url(../img/header.jpg);
    background-size: cover;
    background-position: top;
    height: 85vh;
    position: relative;

    hgroup {
        padding: 30px;
        position: absolute;
        top: 50%;
        left: 180px;
        width: 35%;
        transform: translateY(-50%);
        background: rgba($lightgray,.4);
        // border-radius: 1em;

        h1 {
            font-size: 1.8rem;
            padding: 10px;
            font-weight: 100;

            &::after {
                content: "";
                height: 7px;
                width: 10%;
                display: block;
                background: $primary;
                margin: 10px 0 10px 0;
            }
        }

        p {
            font-size: 1.1rem;
        }

        button {
            padding: 10px 20px;
            font-size: 1.1rem;
            background: $primary;
            color: $white;
            border: 0;
            margin: 20px 0;
            cursor: pointer;
            transition: $transition;
            border-radius: 10px;

            &:hover {
                opacity: .8;
            }
        }
    }
}

/*********************************************************************************************************
**********************************************************************************************************
**********************************************************************************************************
                                        I T E M S
**********************************************************************************************************
**********************************************************************************************************
*********************************************************************************************************/

.items {
    padding: 100px 0;

    h1 {
        font-size: 2.3rem;
        // text-align: center;
        padding-bottom: 50px;
    }

    .item {
        border: 1px solid $borders;
        padding: 10px;
        transition: $transition;

        &:hover {
            border: 1px solid $primary;
        }
    }
    .price {
        color: $primary;
        font-size: 1.1rem;
    }
}

/*********************************************************************************************************
**********************************************************************************************************
**********************************************************************************************************
                                        S U B S C R I B E
**********************************************************************************************************
**********************************************************************************************************
*********************************************************************************************************/

.subscribe {
    text-align: center;
    padding: 80px 0;
    background: $primary;
    .container {
         max-width: 800px !important; 
         h1 {
             color: $text;
             font-size: 2rem;
         }

         p {
             color: $white;
             font-size: 1.1rem;
             padding: 30px 0;
         }

         form {
            input[type="text"] {
                font-size: 1.2rem;
                outline: none;
                padding: 10px 20px;
                border: 1px solid $white;
                background: transparent;
                color: $white;
                border-radius: 10px;
            }

            input[type="submit"] {
                font-size: 1.2rem;
                outline: none;
                padding: 10px 20px;
                transition: $transition;
                background: $white;
                border-radius: 10px;
                &:hover {
                    background: $borders;
                }
            }
         }
    }
}

/*********************************************************************************************************
**********************************************************************************************************
**********************************************************************************************************
                                        F O O T E R
**********************************************************************************************************
**********************************************************************************************************
*********************************************************************************************************/

footer {
    padding: 60px 0;

   .icon {
       padding: 20px 0;
       text-align: center;

       a {
           font-size: 2.5rem;
           color: $primary;
           display: inline-block;
           margin-left: 20px;
           transition: $transition;

           &:hover {
               transform: rotatey(360deg);
           }
       }
   }

   article {
       &:last-child {
           text-align: center;
           padding: 20px;
           font-size: 1.6rem;
       }
   }
}



/*********************************************************************************************************
**********************************************************************************************************
**********************************************************************************************************
                                       P R O D U C T S
**********************************************************************************************************
**********************************************************************************************************
*********************************************************************************************************/


.product {
    padding: 100px 0;
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        article {
            flex: 0 0 22%;
            border: 1px solid $borders;
            padding: 10px;
            transition: $transition;
            margin: 20px 0;
            padding: 20px;
            &:hover {
                border: 1px solid $primary;
            }

            img {
                width: 100%;
            }
            .price {
                color: $primary;
                font-size: 1.1rem;
            }
        }
    }
}


/*********************************************************************************************************
**********************************************************************************************************
**********************************************************************************************************
                                       A B O U T
**********************************************************************************************************
**********************************************************************************************************
*********************************************************************************************************/

.about {
    padding: 70px 0;

    .row {
        max-width: 1140px;
        margin: auto;
        padding: 35px 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        article {
            &:first-child {
                flex: 0 0 40%;

                img {
                    width: 100%;
                }
            }
            &:last-child {
                flex: 0 0 56%;
                line-height: 1.8;

                hr {
                    margin: 40px 0;
                }

                .icon {
                    display: flex;
                    align-items: center;
                    // padding: 20px 0;

                    p {
                        font-size: 1.2rem;
                    }

                    a {
                        font-size: 2rem;
                        margin-left: 20px;
                        color: $primary;
                        transition: $transition;
                        &:hover {
                            transform: rotate(360deg);
                        }
                    }
                }
            }
        }
    }
}



/*********************************************************************************************************
**********************************************************************************************************
**********************************************************************************************************
                                       C O N T A C T
**********************************************************************************************************
**********************************************************************************************************
*********************************************************************************************************/

.contact {
    padding: 60px 0;
   
  hgroup {
      max-width: 1140px;
      margin: auto;
      padding: 20px 0;
  }

  .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
        
      article {
          flex: 0 0 48%;
          form {
            display: flex;
            flex-direction: column;
             justify-content: center;
            //  align-items: center;

            input[type="text"],textarea {
                width: 90%;
                padding: 10px;
                outline: none;
                border: 1px solid $gray;
                resize: none;
                margin: 10px 0;
                font-size: 1rem;
            }
            input[type="submit"] {
                width: 150px;
                padding: 8px 20px;
                text-align: center;
                margin-bottom: 20px;
                background: $primary;
                border: 0;
                color: $white;
                font-size: 1rem;
                border-radius: 10px;
                transition: $transition;

                &:hover {
                    opacity: .8;
                }
            }
         }
         .icon {
             display: flex;
             align-items: center;
             padding: 10px 0;
             p {
                 font-size: 1.3rem;
                 margin-right: 15px;
             }
             a {
                 font-size: 2rem;
                 margin-left: 20px;
                 color: $primary;
                 transition: $transition;

                 &:hover {
                     transform: rotateX(360deg);
                 }
             }
         }
      }
  }
}

/*********************************************************************************************************
**********************************************************************************************************
**********************************************************************************************************
                                       P R O D U C T   I T E M
**********************************************************************************************************
**********************************************************************************************************
*********************************************************************************************************/


.product-item {
    padding: 100px 0;

    hgroup {
        max-width: 1140px;
        margin: 20px auto;
        h1 {
            font-size: 2rem;
        }
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        article {
            &:first-child {
                flex: 0 0 38%;
                border: 1px solid $primary;
                // padding: 20px;

                img {
                    width: 100%;
                }
            }

            &:last-child {
                flex: 0 0 58%;
                h1 {
                    font-size: 1.7rem;
                }
                .price {
                    padding: 10px 0;
                    color: $primary;
                }

                p {
                    padding: 10px 0 1px 0;
                    color: $text;
                }
                .nesto {
                    display: flex;
                    align-items: center;
                    p {
                        padding: 20px 15px;
                    }

                    select {
                        padding: 2px 10px;
                        margin-right: 10px;
                        background: transparent;
                        border: 1px solid $primary;
                        border-radius: 5px;
                        cursor: pointer;
                    }

                    button {
                        background: $primary;
                        cursor: pointer;
                        padding: 6px 10px;
                        color: $white;
                        text-transform: uppercase;
                        border: none;
                        border-radius: 5px;

                        &:hover {
                            opacity: .8;
                        }
                    }
                }

               .category {
                   p {
                         padding: 20px 0;
                         margin-right: 10px;

                         a {
                             text-decoration: none;
                             color: $primary;
                         }
                   }
                 
               }

               .share {
                   padding: 30px 0;
                   p {
                       display: flex;
                       align-items: center;
                        margin-right: 20px;

                       a {
                           font-size: 1.6rem;
                           color: $primary;
                           
                        //    margin-left: 20px;
                          i {
                              margin-left: 10px;
                          }
                       }
                   }
               }
            }
        }
    }
}
