@import "var";
@import "mixins";
@import "base";
@import "global";

/*********************************************************************************************************
**********************************************************************************************************
**********************************************************************************************************
                                N A V
**********************************************************************************************************
**********************************************************************************************************
*********************************************************************************************************/



nav {
    background: $white;
    display: flex;
    flex-direction: column;
    align-items: center;


    .logo {
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        padding: 20px;
        color: $primary;
        font-weight: 900;
      
    }

    hr {
        border: 0;
        height: 1px;
        display: flex;
        width: 100%;
        background: $gray;
    }

    ul {
        list-style: none;
        display: flex;
      
        li {
            margin-left: 40px;
            padding: 10px 0 10px 0;
            a {
                text-decoration: none;
                color: $text;
                text-transform: uppercase;
                font-size: 1.2rem;
                transition: $transition;

                &:hover {
                    color: $primary;
                }
            }
        }
    }
}


/*********************************************************************************************************
**********************************************************************************************************
**********************************************************************************************************
                                        H E A D E R
**********************************************************************************************************
**********************************************************************************************************
*********************************************************************************************************/

header {
    background: url(../img/header.jpg);
    background-size: cover;
    background-position: top;
    height: 85vh;
    position: relative;

    hgroup {
        padding: 30px;
        position: absolute;
        top: 50%;
        left: 180px;
        width: 35%;
        transform: translateY(-50%);
        background: rgba($lightgray,.4);
        // border-radius: 1em;

        h1 {
            font-size: 1.8rem;
            padding: 10px;
            font-weight: 100;

            &::after {
                content: "";
                height: 7px;
                width: 10%;
                display: block;
                background: $primary;
                margin: 10px 0 10px 0;
            }
        }

        p {
            font-size: 1.1rem;
        }

        button {
            padding: 10px 20px;
            font-size: 1.1rem;
            background: $primary;
            color: $white;
            border: 0;
            margin: 20px 0;
            cursor: pointer;
            transition: $transition;
            border-radius: 10px;

            &:hover {
                opacity: .8;
            }
        }
    }
}

/*********************************************************************************************************
**********************************************************************************************************
**********************************************************************************************************
                                        I T E M S
**********************************************************************************************************
**********************************************************************************************************
*********************************************************************************************************/

.items {
    padding: 100px 0;

    h1 {
        font-size: 2.3rem;
        // text-align: center;
        padding-bottom: 50px;
    }

    .item {
        border: 1px solid $borders;
        padding: 10px;
    }
    .price {
        color: $primary;
        font-size: 1.1rem;
    }
}

/*********************************************************************************************************
**********************************************************************************************************
**********************************************************************************************************
                                        S U B S C R I B E
**********************************************************************************************************
**********************************************************************************************************
*********************************************************************************************************/

.subscribe {
    text-align: center;
    padding: 80px 0;
    background: $primary;
    .container {
         max-width: 800px !important; 
         h1 {
             color: $text;
             font-size: 2rem;
         }

         p {
             color: $white;
             font-size: 1.1rem;
             padding: 30px 0;
         }

         form {
            input[type="text"] {
                font-size: 1.2rem;
                outline: none;
                padding: 10px 20px;
                border: 1px solid $white;
                background: transparent;
                color: $white;
                border-radius: 10px;
            }

            input[type="submit"] {
                font-size: 1.2rem;
                outline: none;
                padding: 10px 20px;
                transition: $transition;
                background: $white;
                border-radius: 10px;
                &:hover {
                    background: $borders;
                }
            }
         }
    }
}

/*********************************************************************************************************
**********************************************************************************************************
**********************************************************************************************************
                                        F O O T E R
**********************************************************************************************************
**********************************************************************************************************
*********************************************************************************************************/

footer {
    padding: 60px 0;

   .icon {
       padding: 20px 0;
       text-align: center;

       a {
           font-size: 2.5rem;
           color: $primary;
           display: inline-block;
           margin-left: 20px;
       }
   }

   article {
       &:last-child {
           text-align: center;
           padding: 20px;
           font-size: 1.6rem;
       }
   }
}